datasets==3.6.0
faiss==1.7.2
geoopt==0.5.1
joblib==1.4.2
kagglehub==0.3.12
matplotlib==3.10.3
numba==0.61.2
numpy==2.3.1
pandas==2.3.0
regex==2024.11.6
scikit_learn==1.7.0
torch==2.7.0
tqdm==4.67.1
transformers==4.52.4
umap==0.1.1
